<header>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p class="SansitaSwashed" style="color: white"> Hold On... </p>
    </ngx-spinner>
    <router-outlet></router-outlet>
</header>

<body class="SansitaSwashed">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Weather Using API</h1>
            </div>
            <div class="col-md-7 custom-row">
                <img src="../assets/banner.svg" class="banner-img" alt="banner-img">
            </div>
            <div class="col-md-5 custom-row">
                <form class="form-data" [formGroup]="inputData" (ngSubmit)="data()">
                    <div class="form-group">
                        <label>Enter City Name:</label>
                        <input type="text" formControlName="cityName" class="form-control " placeholder="Enter the city Name" [ngClass]="{'is-invalid':submitted && f.cityName.errors}" required>
                        <div *ngIf="submitted && f.cityName.errors" class="invalid-feedback">
                            <div *ngIf="f.cityName.errors.required">City Name Required</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark ">submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="weatherData">
            <div class="row weatherDataAPI">
                <div class="col-lg-12">
                    <h2 class="text-center">{{this.weatherData['name']}}</h2>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="box">
                            <div class="custom-img">
                                <img src="../assets/temp.png" alt="temp">
                            </div>
                            <div class="text-formate">
                                <h4>Temp :</h4>
                                <p>{{this.weatherData['main']['temp']}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="box">
                            <div class="custom-img">
                                <img src="../assets/humidity.png" alt="humidity">
                            </div>
                            <div class="text-formate">
                                <h4>Humidity :</h4>
                                <p>{{this.weatherData['main']['humidity']}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="box">
                            <div class="custom-img">
                                <img src="../assets/windspeed.png" alt="windspeed">
                            </div>
                            <div class="text-formate">
                                <h4>Wind Speed :</h4>
                                <p>{{this.weatherData['wind']['speed']}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="box">
                            <div class="custom-img">
                                <img src="../assets/sunrise.png" alt="Sunrise">
                            </div>
                            <div class="text-formate">
                                <h4>Sunrise :</h4>
                                <p>{{this.weatherData['sys']['sunrise'] | date:'h:mm:ss' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="box">
                            <div class="custom-img">
                                <img src="../assets/sunset.png" alt="Sunset">
                            </div>
                            <div class="text-formate">
                                <h4>Sunset :</h4>
                                <p>{{this.weatherData['sys']['sunset'] | date:'h:mm:ss'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="box">
                            <div class="custom-img">
                                <img src="../assets/{{this.weatherData[ 'weather'][0][ 'main']}}.png" alt="weather">
                            </div>
                            <div class="text-formate">
                                <h4>Type :</h4>
                                <p>{{this.weatherData['weather'][0]['main']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>