/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: SansitaSwashed;
    src: url(assets/fonts/SansitaSwashed-Regular.ttf) format('truetype');
}

.SansitaSwashed {
    font-family: SansitaSwashed;
}